*.DS_Store
.AppleDouble
.LSOverride
.metadata_never_index

# Resource forks
._*

node_modules
build/
preview/

# files we download from figma in src/fetchFigmaComponents
src/Icon
src/Spot

# don't check in environmental variables / secrets
.env

# don't check in any c# build data
dotnet/**/obj
dotnet/**/bin
.vs