# Figma personal access token
# https://www.figma.com/developers/api#access-tokens
FIGMA_ACCESS_TOKEN=abc

# Figma file id
# i.e., https://www.figma.com/design/...
FIGMA_FILE_KEY=Z5yoO4WH58QDHvmxwMWhr0

# Where to load the definitions from?
ASSET_CONFIG_PATH=./config.yaml

# Output folder
ASSET_OUTPUT_DIR=./dist/

# SVG downloader rate limit (requests per second)
# Defaults to 50 if not set
SVG_DOWNLOAD_RPS=50
